{% extends "authApp/base.html" %}


{% load static %}


{% block title %}Запрос {{ ipv4 }}{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Информация о запросе</h2>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">IP или домен: {{ ipv4 }}</h5>
            <p class="card-text"><strong>Статус:</strong> {{ status }}</p>
            <h5>Результаты Shodan</h5>
            <h5>Используемые платформы:</h5>
            <ul class="list-group mb-3">
                {% for platform in platforms %}
                    <li class="list-group-item">{{ platform }}</li>
                {% endfor %}
            </ul>
            <h5>Используемые порты:</h5>
            <ul class="list-group mb-3">
                {% for port in ports %}
                    <li class="list-group-item">{{ port }}</li>
                {% endfor %}
            </ul>
            <h5>Операционная система:</h5>
            <p class="card-text">{{ os }}</p>
            <h5>Хостнеймы:</h5>
            <ul class="list-group mb-3">
                {% for hostname in hostnames %}
                    <li class="list-group-item">{{ hostname }}</li>
                {% endfor %}
            </ul>
            <h5>Уязвимости:</h5>
            <ul class="list-group mb-3">
                {% for vulnerability in cve_results %}
                    <li class="list-group-item">{{ vulnerability.vulnerability_id }} - {{ vulnerability.description }}</li>
                {% endfor %}
            </ul>
            <p class="card-text"><strong>Примененные эксплойты и РоС:</strong> {{ applied_exploits }}</p>
            <p class="card-text"><strong>Уязвимые сервисы или приложения:</strong> {{ vulnerable_services_or_apps }}</p>
        </div>
    </div>
</div>
{% endblock %}